@charset "utf-8";
/* CSS Document */

body {
	text-align:center; /*center hack*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	margin:0px;
	width:320px;}


a:link {
	text-decoration:none;
	color:#0069ac;
		    	}

a:visited {
	text-decoration:none;
	color:#0069ac;
		}

a:hover{
	text-decoration:underline;
	color:#0069ac;
		}



#wrap {
max-width:320px;
margin:0 auto; /*center hack*/
text-align:left;

}

#topper {background-color:#000; height:4px; width:100%;}

#topline {background-color:#5e5c5c; height:1px; width:100%;}


#header {height:47px;}

#page_title {margin-top:18px; margin-left:15px; height:65px; background-image:url(images/page_title_iphone.png); background-size: 272px 63px; background-repeat: no-repeat; 
}

#about {margin-left:19px; margin-top:27px; height:29px; background-image:url(images/about_head_iphone.png); background-size: 90px 29px; background-repeat: no-repeat; }



#about_content {padding-left:55px; padding-right:30px;}

#screen {position:relative; float:right; overflow:hidden; bottom:410px; right:90px;}

#contact {margin-left:19px; margin-top:36px; height:29px; background-image:url(images/contact_head_iphone.png); background-size: 132px 29px; background-repeat: no-repeat;  }

#contact_content {padding-left:55px; padding-right:30px;}

#faqs {margin-left:19px; margin-top:45px; height:29px; background-image:url(images/faqs_head_iphone.png); background-size: 79px 29px; background-repeat: no-repeat;  }

#faqs_content {padding-left:55px; padding-right:30px;}

.qa {font-weight:bold; font-size:16px;}

.indent {padding-left:25px;}

.indent2 {padding-left:48px;}

.hang {text-indent: 1.5em; margin-left: -1.5em;}

#footer_line {background-color:#d1cfcf; height:1px; width:100%;}
#footer {background-color:#dddddd; height:43px; width:100%; text-align:center;}

