@charset "utf-8";
/* CSS Document */

body {
	text-align:center; /*center hack*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	margin-top:12px;
}


a:link {
	text-decoration:none;
	color:#0069ac;
		    	}

a:visited {
	text-decoration:none;
	color:#0069ac;
		}

a:hover{
	text-decoration:underline;
	color:#0069ac;
		}



#wrap {
min-width:980px;
max-width:1024px;
width:auto !important; /*IE6 hack*/
width:1024px; /*IE6 hack*/
margin:0 auto; /*center hack*/
text-align:left; /*center hack*/
border:1px solid #000000;
}

#topper {background-color:#000; height:6px;}

#topline {background-color:#5e5c5c; height:1px; width:100%;}
#nextline {background-color:#000000; height:1px; width:100%;}

#header {background:url(images/head_slice.png) repeat; position:relative; height:88px;}

#page_title {padding-top:32px; padding-left:43px;}

#divider {background:url(images/dotted_line.png) repeat; position:relative; height:2px; width:80%; margin-left:143px; margin-top:9px; margin-bottom:44px;}

#about {padding-left:105px;}

#about_content {padding-left:141px; padding-right:30px;}

#screen {position:relative; float:right; overflow:hidden; bottom:410px; right:90px;}

#contact {padding-left:105px; padding-top:37px;}

#contact_content {padding-left:141px;}

#faqs {padding-left:105px; padding-top:37px;}

#faqs_content {padding-left:161px; padding-right:70px;}

.qa {font-weight:bold; font-size:16px;}

.indent {padding-left:25px;}

.indent2 {padding-left:48px;}

.hang {text-indent: 1.5em; margin-left: -1.5em;}

#footer_line {background-color:#d1cfcf; height:1px; width:100%;}
#footer {background-color:#dddddd; height:43px; width:100%; text-align:center;}

